extends layout
block content
  h1.platform-name Please Wait...
  
  .bus-timetable
    table.table.table-striped
      thead
        th Route
        th Destination
        th ETA
        
      tbody
